.contact-section {
  padding-block-start: 50px;
  padding-block-end: 30px;
  .title {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
  }
  .contact-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    .form-control {
      border: 1px solid #484848;
      border-radius: 6px;
      font-size: 14px;
      padding: 16.5px 15px;
    }
    .error-message {
      color: #fc0909;
      font-size: 14px;
      margin-top: 8px;
    }
    .btn {
      padding: 10px 20px;
      background-color: $black;
      color: $white;
      font-size: 18px;
      border-radius: 4px;
    }
  }
}

@media (max-width: 767px) {
  .contact-section {
    padding-block-start: 30px;
    padding-block-end: 20px;
    .title {
      font-size: 28px;
      font-weight: 500;
    }
  }
}
