.hero-section {
  padding: 100px;
  background-color: #fbf9fd;
  .top-container {
    display: grid;
    grid-template-columns: 620px 1fr;
    align-items: center;
    gap: 80px;

    .text-container {
      /*.hero-title {
        width: 100%;
        height: 100%;
        font-size: 48px;
        font-weight: 700;
        color: $black2;
        margin-bottom: 15px;
        line-height: 1.5;

        .text-highlight {
          text-decoration-color: $primary;
        }
      }*/
      .hero-title {
        font-size: 48px;
        font-weight: 700;
        color: $black2;
        margin-bottom: 15px;
        position: relative;
        line-height: 1.5;
        .text-highlight {
          background: $primary;
          padding: 0px 5px 5px 5px;
          transition: opacity 0.6s ease-in-out; /* Smooth transition */
        }
      }

      .text-desc {
        font-size: 18px;
        color: $dark;
        margin-top: 15px;
        margin-bottom: 18px;
      }
      .button-segment {
        display: flex;
        gap: 15px;
        padding-top: 17px;
        .btn {
          font-size: 18px;
          border-radius: 4px;
          border: 0;

          &-selling {
            padding: 10px 20px;
            background-color: $black;
            color: $white;
          }
          &-custom {
            padding: 10px 26.5px;
            background-color: $white2;
            border: 1px solid $black2 !important;
            color: $black2;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .hero-section {
    padding: 80px;
    .top-container {
      .text-container {
        .hero-title {
          font-size: 43px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .hero-section {
    padding: 70px;
    .top-container {
      .text-container {
        .hero-title {
          font-size: 34px;
        }
        .text-desc {
          font-size: 17px;
          color: $dark;
          margin-bottom: 15px;
        }
        .button-segment {
          padding-top: 15px;
          .btn {
            font-size: 16px;

            &-selling {
              padding: 9px 18px;
            }
            &-custom {
              padding: 9px 24px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .hero-section {
      padding: 50px;
      .top-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;

        text-align: center;

        .text-container {
          .hero-title {
            font-size: 35px;
            font-weight: 700;
          }

          .text-desc {
            font-size: 16px;
            margin-top: 12px;
            margin-bottom: 15px;
          }
          .button-segment {
            padding-top: 15px;
            justify-content: center;
            align-items: center;
            .btn {
              font-size: 14px;

              &-selling {
                padding: 9px 16px;
              }
              &-custom {
                padding: 9px 21px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding: 40px;
    .top-container {
      gap: 40px;
      .text-container {
        .hero-title {
          font-size: 33px;
          font-weight: 600;
        }
        .text-desc {
          font-size: 13px;
          margin-top: 10px;
          margin-bottom: 12px;
        }

        .button-segment {
          padding-top: 12px;
          gap: 10px;

          .btn {
            font-size: 12px;

            &-selling {
              padding: 8px 13px;
            }
            &-custom {
              padding: 8px 17px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .hero-section {
    padding: 25px;
    .top-container {
      gap: 30px;
      .text-container {
        .hero-title {
          font-size: 25px;
          font-weight: 500;
        }
        .text-desc {
          font-size: 13px;
          margin-bottom: 5px;
        }
        .button-segment {
          padding-top: 12px;
          flex-direction: column;
          gap: 9px;
          .btn {
            font-size: 12px;

            &-selling {
              padding: 7px 11px;
            }
            &-custom {
              padding: 7px 15px;
            }
          }
        }
      }
    }
  }
}

//publish section
.publish-section {
  background-color: $white;
  padding: 50px;

  .section-title {
    text-align: center;
    padding-bottom: 100px;
    .hero-title {
      font-size: 48px;

      font-weight: 700;
      margin-bottom: 17px;
    }
    .pra-one {
      font-size: 18px;
      color: $dark;
      margin-top: 17px;
    }
  }

  .top-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 80px;
    &:nth-child(1),
    &:nth-child(3) {
      .segmentOne {
        order: 1;
      }
      .img-container {
        order: 2;
      }
    }
    &:not(:nth-child(2)) {
      margin-top: 100px;
    }

    .segmentOne {
      order: 1;
      .publish-title {
        font-size: 24px;
        font-weight: 600;
        color: $black2;
        margin-bottom: 13px;
      }

      .pra-two {
        font-size: 18px;
        font-weight: 400;
        color: $dark;
        margin-top: 13px;
        margin-bottom: 24px;
      }
      .list-container {
        padding-top: 24px;
        .list-item {
          display: grid;
          grid-template-columns: 18px 1fr;
          align-items: center;
          gap: 9px;
          padding-bottom: 30px;
          .icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
          .label {
            color: #65697b;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .publish-section {
    padding: 50px;

    .section-title {
      padding-bottom: 90px;
      .hero-title {
        font-size: 46px;

        font-weight: 700;
        margin-bottom: 16px;
      }
      .pra-one {
        font-size: 18px;
        margin-top: 17px;
      }
    }

    .top-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 80px;

      .segmentThree {
        order: 2;
      }
      .segmentFour {
        order: 1;
      }
      .segmentOne,
      .segmentThree,
      .segmentFour {
        .publish-title {
          font-size: 24px;
          font-weight: 600;
          color: $black2;
          margin-bottom: 13px;
        }

        .pra-two {
          font-size: 18px;
          font-weight: 400;
          color: $dark;
          margin-top: 13px;
          margin-bottom: 24px;
        }
        .list-container {
          padding-top: 24px;
          .list-item {
            gap: 8px;
            padding-bottom: 28px;

            .label {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .publish-section {
    padding: 40px;

    .section-title {
      padding-bottom: 80px;
      .hero-title {
        font-size: 40px;

        font-weight: 700;
        margin-bottom: 15px;
      }
      .pra-one {
        font-size: 17px;
        margin-top: 16px;
      }
    }

    .top-container {
      gap: 70px;

      .segmentOne,
      .segmentThree,
      .segmentFour {
        .publish-title {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 13px;
        }

        .pra-two {
          font-size: 17px;
          margin-top: 13px;
          margin-bottom: 22px;
        }
        .list-container {
          padding-top: 18px;
          .list-item {
            gap: 8px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
//
@media (max-width: 991px) {
  .publish-section {
    padding: 25px;
    .section-title {
      padding-bottom: 60px;
      .hero-title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .pra-one {
        font-size: 14px;
        margin-top: 13px;
      }
    }

    .top-container {
      gap: 50px;
      grid-template-columns: 1fr;

      .segmentOne,
      .segmentThree,
      .segmentFour {
        order: 2;
        .publish-title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .pra-two {
          font-size: 16px;
          margin-bottom: 12px;
        }
        .list-container {
          padding-top: 16px;
          .list-item {
            gap: 8px;
            padding-bottom: 16px;
          }
        }
      }
      .img-container {
        order: 1;
      }
    }
  }
}
@media (max-width: 767px) {
  .publish-section {
    padding: 25px;

    .section-title {
      padding-bottom: 35px;
      .hero-title {
        font-size: 25px;
        font-weight: 600;
      }
      .pra-one {
        font-size: 13px;
      }
    }

    .top-container {
      gap: 30px;
      &:nth-child(1),
      &:nth-child(3) {
        .segmentOne {
          order: 2;
        }
        .img-container {
          order: 1;
        }
      }
      &:not(:nth-child(2)) {
        margin-top: 40px;
      }
      .segmentOne {
        order: 2;
        .publish-title {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .pra-two {
          font-size: 14px;

          margin-bottom: 10px;
        }
        .list-container {
          padding-top: 12px;
          .list-item {
            gap: 6px;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .publish-section {
    padding: 15px;
    .section-title {
      padding-bottom: 20px;
      .hero-title {
        font-size: 22px;
        font-weight: 500;
      }
    }

    .top-container {
      gap: 20px;

      .segmentOne,
      .segmentThree,
      .segmentFour {
        .publish-title {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 8px;
        }

        .pra-two {
          margin-bottom: 8px;
        }
        .list-container {
          padding-top: 8px;
          .list-item {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

//review
.review-section-container {
  background-color: $black2;
  padding-top: 50px;
  padding-bottom: 50px;
  .review-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding-top: 85px;
    padding-bottom: 58px;
    .text-content {
      .tab-line {
        width: 100%;
        max-width: 35px;

        margin-top: 29px;
        margin-bottom: 29px;
        border: 2px solid $white;
      }
      .message {
        .message-text {
          color: $white;
          font-size: 20px;
        }
      }
      .reviewer {
        .reviewer-name {
          font-size: 24px;
          font-weight: 600;
          color: $white;
          margin-bottom: 12px;
        }
        .reviewer-designation {
          font-size: 14px;
          color: $white;
          margin-bottom: 0px;
        }
      }
    }
    .slider-content {
      width: 100%;
      height: 100%;
      max-width: 452px;
      max-height: 475px;

      .slide-image {
        .swiper-pagination-bullet {
          width: 100%;
          max-width: 82px;
          max-height: 4px;
          opacity: 1;
          border-radius: 15px;
          background: rgba(255, 255, 255, 0.44);
        }

        .swiper-pagination-bullet-active {
          background: $white;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .review-section-container {
    .review-content {
      padding-top: 65px;
      padding-bottom: 38px;
      gap: 80px;
      .text-content {
        .tab-line {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .message {
          .message-text {
            font-size: 18px;
          }
        }
        .reviewer {
          .reviewer-name {
            font-size: 23px;
            font-weight: 600;
          }
          .reviewer-designation {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .review-section-container {
    .review-content {
      flex-direction: column-reverse;
      gap: 20px;
      padding-top: 35px;
      padding-bottom: 20px;
      .text-content {
        .tab-line {
          margin-top: 18px;
          margin-bottom: 18px;
        }
        .message {
          .message-text {
            font-size: 17px;
            padding-top: 30px;
          }
        }
        .reviewer {
          .reviewer-name {
            font-size: 22px;
            font-weight: 600;
          }
          .reviewer-designation {
            font-size: 12px;
          }
        }
      }
    }
    .slider-content {
      .slide-image {
        width: 100%;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .review-section-container {
    .review-content {
      gap: 18px;
      padding-top: 25px;
      padding-bottom: 15px;
      .text-content {
        .tab-line {
          margin-top: 14px;
          margin-bottom: 14px;
        }
        .message {
          .message-text {
            font-size: 16px;
          }
        }
        .reviewer {
          .reviewer-name {
            font-size: 20px;
            font-weight: 500;
          }
          .reviewer-designation {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .review-section-container {
    .review-content {
      padding-top: 20px;
      padding-bottom: 10px;
      gap: 14px;
      .text-content {
        .tab-line {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .message {
          .message-text {
            font-size: 14px;
          }
        }
        .reviewer {
          .reviewer-name {
            font-size: 18px;
            font-weight: 500;
          }
          .reviewer-designation {
            font-size: 10px;
          }
        }
      }
      .slider-content {
        .slide-image {
          .swiper-pagination-bullet {
            max-width: 60px;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .review-section-container {
    .review-content {
      padding-top: 15px;
      padding-bottom: 10px;
      gap: 10px;
      .text-content {
        .tab-line {
          margin-top: 8px;
          margin-bottom: 8px;
        }
        .message {
          .message-text {
            font-size: 12px;
          }
        }
        .reviewer {
          .reviewer-name {
            font-size: 17px;
            font-weight: 500;
          }
          .reviewer-designation {
            font-size: 9px;
          }
        }
      }
      .slider-content {
        .slide-image {
          .swiper-pagination-bullet {
            max-width: 50px;
          }
        }
      }
    }
  }
}

//ticket solution
.ticket-solution-section {
  padding-top: 50px;

  .ticket-content {
    background-image: url("./../../assets/ticket_sell_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    // padding-bottom: 50px;
    .title-ticket-solution {
      width: 100%;
      max-width: 590px;
      margin: 0 auto;
      text-align: center;
      color: $white;
      font-size: 36px;
      font-weight: 700;
      //   padding-top: 50px;
      padding-bottom: 19px;
    }
    .btn-container {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      padding-top: 19px;

      .btn {
        border: 0;
        font-size: 18px;

        border-radius: 4px;

        &-started {
          color: $white;
          background-color: $black2;

          padding: 11px 37.5px;
        }
        &-custom {
          background-color: $white2;
          color: $dark;
          padding: 11px 16px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .ticket-solution-section {
    padding-top: 40px;
    .ticket-content {
      padding-top: 80px;
      padding-bottom: 80px;
      .title-ticket-solution {
        font-size: 32px;
        font-weight: 700;
        padding-top: 40px;
        padding-bottom: 15px;
      }
      .btn-container {
        padding-top: 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  .ticket-solution-section {
    padding-top: 30px;
    .ticket-content {
      padding-top: 70px;
      padding-bottom: 70px;
      // padding-bottom: 30px;
      .title-ticket-solution {
        font-size: 30px;
        font-weight: 700;
        padding-top: 30px;
        padding-bottom: 12px;
      }
      .btn-container {
        padding-top: 12px;
        padding-bottom: 70px;

        .btn {
          font-size: 16px;

          &-started {
            padding: 11px 33px;
          }
          &-custom {
            padding: 11px 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .ticket-solution-section {
    padding-top: 25px;
    .ticket-content {
      padding-top: 50px;
      padding-bottom: 50px;
      .title-ticket-solution {
        font-size: 28px;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      .btn-container {
        padding-top: 10px;
        padding-bottom: 60px;

        .btn {
          font-size: 14px;

          &-started {
            padding: 11px 28.5px;
          }
          &-custom {
            padding: 11px 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .ticket-solution-section {
    padding-top: 20px;
    .ticket-content {
      .title-ticket-solution {
        font-size: 24px;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 10px;
      }
      .btn-container {
        padding-top: 10px;
        padding-bottom: 60px;
        flex-direction: column;
        gap: 10px;

        .btn {
          font-size: 12px;

          &-started {
            padding: 11px 25px;
          }
          &-custom {
            padding: 11px 9px;
          }
        }
      }
    }
  }
}
